<h1>Item <%= @item.name %> in <%= @list.name %></h1>
<h2> Description </h2>
<%= @item.description %>
<h3> Priority </h3>
<%= @item.priority %>
<h3> Completed? </h3>
<%= @item.complete %> 
<%= link_to 'Edit Item', edit_item_path %>
<%= link_to 'Return to List', list_path(@item[:list_id]) %>
<